<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Helouise</title>
    <link rel="stylesheet" href="{% static 'shingeki/css/perfil.css' %}">
</head>
<body>
    <header>
        <h1>Ana Helouise de Souza Silva</h1>
    </header>
    <main>
        <section class="profile">
            <h2>Sobre mim</h2>
            <img src="{% static 'shingeki/img/anahelouise.jpg' %}" alt="Foto de Ana Helouise">
            <p>Olá! Eu sou Ana Helouise. Sou estudante de Sistemas de Informação e front end developer.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Ana Helouise</p>
    </footer>
</body>
</html>
