<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Desenvolvedor</title>
    <link rel="stylesheet" href="{% static 'shingeki/css/dev.css' %}">
</head>
<body>
  <section class="showcase">
    <header>
      <h2 class="logo">Attack On Titan Wiki</h2>
      <div class="toggle">
        <a href="{% url 'home' %}">Inicio</a>
        <a href="">Personagens</a>
        <a href="{% url 'titans' %}">Titãs</a>
        <a href="{% url 'tropas' %}">Forças Militares</a>
        <a href="">Muralhas</a>
        <a href="#">Contato</a>
      </div>
    </header>
    <!-- <div class="overlay"></div> -->
    <div class="text">
      <h2>Sobre a</h2> 
      <h4>desenvolvedora</h4>
      <p>Olá! Eu sou a Ana Helouise, desenvolvedora do Attack On Titan Wiki. </br>Sou graduanda em Sistemas de Informação e esse é um projeto de estudo para por em pratica os meus conhecimentos do framework Django usando Python e a utilização de arquivos estaticos. E ai, gostou da Wiki?.</p>
    </div>
  </section>
</body>
</html>

