@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  z-index: 1000;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header .logo {
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle, 
.toggle a {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.toggle a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.toggle a:hover::after {
  transform: scaleX(1);
}

.showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase img {
  width: 100%;
  height: auto; 
  margin-bottom: 20px; 
}

.text p {
  font-size: 1.2em;
  color: #000;
  margin: 5px 100px;
  font-weight: 400;
}